@import '../../common/styles/variables.scss';


.film-card {
    background-color: $color-primary;
    width: 15rem;
    color: black !important;
  
}


.film-card img {
    height: 13rem;
}



.film-card-body {
    background-color: $color-primary;
    color: black !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text {
    color: #CD7F32;
    font-weight: bold !important;
}




