.app-container {
    display: flex;
    /* Centre les éléments verticalement */
    
   /* 100% de la hauteur de la vue */
  }
  
  .center-container {
    
    

    width: 90%;
    margin-right: 10%;
   
     /* Couleur de fond du conteneur central */
  }
  
  .right-container {
   /* Largeur du conteneur à droite (ajustez selon vos besoins) */
     /* Couleur de fond du conteneur à droite */
     
  }