.app-container {
  display: flex;
  text-align: center;
 
}

h2 {
  text-align: center !important;
}

.center-container {



  width: 90%;
  

  /* Couleur de fond du conteneur central */
}

.right-container {
  text-align: center;

  /* Largeur du conteneur à droite (ajustez selon vos besoins) */
  /* Couleur de fond du conteneur à droite */

}