@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,600;1,700&display=swap');
@import '../src/components/common/styles/variables.scss';


* {
  margin: 0;
  font-family: 'Crimson Text', serif;
  color:white;
}

h1,h2{
  color: $color-primary !important;
  font-weight: bolder;
  
}





